*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #388b6f;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
body{
    background: white;
}